@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --primary-color: #8C0303;
    --secondary-color: #590202;
    --tertiary-color: #260101;
    --bg-color: #F2F2F2;
    --bg-body-color: #F9F9F9;
    --font-light-color: #FFFFFF;

    --font-text: 'Inter', sans-serif;
    font-size: 62.5%;
}

body{
    background-color: var(--bg-body-color);
    font-family: var(--font-text);
    font-size: 1.6rem;
    color: var(--tertiary-color);
}

main{
    padding: 2.2rem 3rem;
    gap: 2.2rem;
}

nav{
    background-color: var(--primary-color);
}

a.nav-link{
    text-decoration: none;
    color: var(--font-light-color);
    font-size: 1.8rem;
}

a.nav-link:hover {
    font-weight: bold;
    color: var(--font-light-color);
}

button.btn{
    background-color: var(--secondary-color);
}

button.btn:hover{
    background-color: var(--tertiary-color);
}

div.card{
    padding: 3rem;
    max-width: 40rem;
    min-height: 32rem;
    background-color: var(--bg-color);
}

div.card-body{
    text-align: center;
}

h2.card-title{
    font-size: 24px;
    font-weight: bold;
    color: var(--tertiary-color);
}

p.card-text{
    font-size: 15px;
    text-align: justify;
    color: var(--tertiary-color);
}

a.continua{
    font-size: 16px;
    text-align: justify;
    color: var(--tertiary-color);
}

h2.title{
    height: 6rem;
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    line-height: 4.4rem;
    text-align: center;
    color: var(--font-light-color);
    border-radius: 5px 5px 0 0;
}

input.form-control{
    width: 100%;
    height: 4rem;
}

input.form-control, textarea#comment.form-control{
    padding: 1rem 2rem;
    font-family: var(--font-text);
    background-color: #FFFDFD;
    border: none;
    border-radius: 8px;
}

button.btn.btnEnviar{
    margin: auto;
    padding: 1.7rem;
    width: 15rem;
    border-radius: 8px;
    border: none;
    background-color: var(--secondary-color);
    text-align: center;
    color: var(--font-light-color);
    cursor: pointer;
}

.avl-header {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.avl-header span {
    font-weight: 700;
    font-size: 2.3rem;
}

.data {
    text-align: right;
}

.classificacao {
    margin: auto;
}